body {
    margin: 0 auto;
    padding: 2rem;
    background: white;
    text-align: center;
    font-weight: 300;
    font-size: 1.05rem;
    font-family: "Sansita", sans-serif;
  }
  
  h1 {
    margin-top: 5vw;
  }
  .Search-box {
    margin: 10vw 0vw 0vw 5vw;
    display: flex;
    align-items: stretch;
    text-align: center;
  }
  
  .Search-type,
  .search-btn {
    width: 45%;
  }
  .Search-type {
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid orange;
    color: orange;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-left: 8vw;
    padding-right: 15vw;
  }
  .Search-type::placeholder {
    color: orange;
    font-size: 5vw;
    text-align: center;
  }
  .search-btn {
    width: 15vw;
    height: 15vw;
    font-size: 1.8rem;
    background-color: orange;
    color: white;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.45s linear;
  }
  .search-btn:hover {
    border: 0.3vw solid #000000;
    background-color: white;
    color: #000000;
  }
  .Search-results {
    margin-top: 4rem;
  }
  
  .meal-box {
    margin: 10vw 3vw 0vw 3vw;
    height: auto;
    box-sizing: border-box;
    background-color: white;
    border: 0.8vw solid #ff9d00;
    border-radius: 11vw;
    box-shadow: 0.5vw 1vw 1vw rgba(0, 0, 0, 0.25);
  }
  .meal-box h2 {
    font-size: 6vw;
  }
  img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    margin-top: 10%;
    margin-bottom: -15%;
  }
  .meal-name {
    padding: 1.5rem 0.5rem;
  }
  .meal-name h2 {
    font-size: 1.4rem;
  }
  h2 {
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .recipe-button {
    text-decoration: none;
    color: white;
    background: orange;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    transition: all 0.45 linear;
    border: none;
    margin-bottom: 10%;
  }
  .recipe-button:hover {
    border: 0.3vw solid #000000;
    background-color: white;
    color: #000000;
  }

  @media (min-width: 768px) {
    #meal {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 2rem;
    }
  
    .meal-box {
      margin: 0;
    }
  
    .Search-type {
      height: 9.6vw;
    }
    .search-btn {
      height: 10vw;
    }
    .title {
      margin-top: 0vw;
      margin-bottom: 6vw;
      font-size: 4vw;
    }
    .meal-box h2 {
      margin-top: 4vw;
      font-size: 3vw;
    }
  
    .Search-box {
      margin: 10vw 0vw 0vw 8vw;
    }
    .Search-type {
      font-size: 5vw;
    }
    h1 {
      font-size: 5vw;
    }
  
    .recipe-button {
      text-decoration: none;
      color: white;
      background: orange;
      font-weight: 500;
      font-size: 2rem;
      padding: 0.75rem 0;
      display: block;
      width: 250px;
      margin: 1rem auto;
      border-radius: 2rem;
      transition: all 0.45 linear;
      border: none;
      margin-bottom: 10%;
    }
  }